@model LayoutModel
@if (Model.User != null)
{
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>User profile</h5>
            <p>@Model.User.Username</p>
        </div>
    </aside>
}