@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <img src="~/img/logo.png" style="max-width:200px;" />
    </h1>
    <h5>@MoneyNote.YoutubeManagement.Configs.Config.Slogan</h5>
</div>
