@{

    MoneyNote.Identity.Enities.User user = MoneyNote.Identity.PermissionSchemes.Auth.Get(Context);

}
@section BodyTitle{
    @*ULIFE - @MoneyNote.YoutubeManagement.Configs.Config.Slogan*@
}
@section BodyBreadcrumb{
    @if (user != null)
    {
        <button onclick="Home.addNewRight()">Add new content</button>
        <button onclick="Home.crawlRight(this)">Crawl content</button>
    }
}
@if (user == null)
{
    <div class="text-center">

        <h1 class="display-4">
            <img src="~/img/logo.png" style="max-width:200px;" />
        </h1>
        <h5>@MoneyNote.YoutubeManagement.Configs.Config.Slogan</h5>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2">
            <div><button onclick="Home.addNewLeft()">Add new</button> <b>Category</b> </div>
            <div id="categoryInfo" style="display:none; clear:both">
                <div>Parent category</div>
                <select id="categoryDrlParent" style="width:100%"></select>
                <div>Title</div>
                <div>
                    <textarea id="categoryTitle" style="width:100%"></textarea>
                </div>
                <div>
                    <button onclick="Home.closeLeft()">Close</button>
                    <button onclick="Home.saveLeft()">Save</button>
                    <button onclick="Home.deleteLeft()">Delete</button>
                </div>
            </div>
            <div id="categoryTree"></div>
        </div>
        <div id="mid" class="col-md-10">
            <div id="content"></div>
        </div>
        <div id="right" style="display:none">
            <div style="clear:both">
                <button onclick="Home.closeRight()" style="float:left">Close</button>
                <button onclick="Home.deleteRight()" style="float:right">Delete</button>
                <button onclick="Home.saveRight()" style="float:right">Save</button>


            </div>
            <hr style="clear:both" />
            <div>
                <div class="row">
                    <div class="col-md-8">    <img id="contentImgThumbnail" src="" style="max-width:100%; height:150px;" /></div>
                    <div class="col-md-4">
                        <div style="text-align:left">
                            ImgWidth: <input id="contentThumbnailWidth" style="width:100px;" />
                            <br />
                            ImgHeight: <input id="contentThumbnailHeight" style="width:100px;" />
                            <br /><br />
                            VidWidth: <input id="contentVideoWidth" style="width:100px;" />
                            <br />
                            VidHeight: <input id="contentVideoHeight" style="width:100px;" />
                        </div>
                    </div>
                </div>            
            </div>
            <div>
                Youtube url <a id="contentOpenUrlRef" target="_blank" href="">Goto</a>
            </div>
            <div>
                <textarea id="contentUrlRef" style="width:100%"></textarea>
            </div>
            <div>
                Thumbnail
            </div>
            <div>
                <textarea id="contentThumbnail" style="width:100%"></textarea>
            </div>
            <div>
                Title
            </div>
            <div>
                <textarea id="contentTitle" style="width:100%" rows="3"></textarea>
            </div>
            <div>
                Description
            </div>
            <div>
                <textarea id="contentDescription" style="width:100%" rows="5"></textarea>
            </div>
            <div>Category</div>
            <div id="contentCategories">

            </div>
            <hr />
            <label><input type="checkbox" id="contentPublished" /> Publish</label>
            <hr style="clear:both" />
            <div style="clear:both">
                <button onclick="Home.closeRight()" style="float:left">Close</button>
                <button onclick="Home.deleteRight()" style="float:right">Delete</button>
                <button onclick="Home.saveRight()" style="float:right">Save</button>
            </div>
        </div>
    </div>
}
@section Scripts{
    @if (user != null)
    {
        <script>
            Home.init(jQuery('#categoryTree'), jQuery('#content'));
        </script>
    }

}